{% extends "../base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="/static/sign.css" />
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    Register
  <form action="/register" method="POST">
      <div>
          <label>Create username</label>
          <input type="text" name="username" required>
          <label>Create password</label>
          <input type="text" name="password" required>
          <button>submit</button>
      </div>
  </form>
{% endblock %}